<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'my_dz_3/css/style.css' %}">
    <style>
        .float-right {
            float: right;
            margin: 10px; /* Необязательно: добавьте немного поля для лучшего интервала. */
            width: 300px; /* Установите желаемую ширину */
            height: auto; /* Сохраняйте соотношение сторон */
        }
    </style>

</head>
<body>
<header>
    <img src="{% static 'my_dz_3/image/583.jpg' %}" alt="Example Image" class="float-right">

    <h1>{% block header %}Header{% endblock %}</h1>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2024 Shamil</p>
</footer>
</body>
</html>
